{% extends 'base.html.twig' %}

{% block title %}Nouveau Usager
{% endblock %}

{% block body %}

	<div class="shadow p-3 mb-2 bg-body border-bottom rounded mx-auto w-50 mt-5">
		<h3 class="text-center shadow p-3 bg-secondary bg-opacity-10">Ajouter Usager</h3>
		<hr class="text-primary">
		{{ form_start(form) }}

		<div class="row">

			<div class="col-6">
				{{ form_row(form.genre, {label: 'Sexe'}) 
				 }}
			</div>
		</div>

		<div class="row">
			<div class="col">
				{{ form_row(form.nom, {label: 'Nom', 'attr':{'placeholder': 'Nom'}}) 
				}}
			</div>

			<div class="col">
				{{ form_row(form.prenom, {label: 'Prénom', 'attr':{'placeholder': 'Prénom'}}) 
				 }}
			</div>
		</div>
		<div class="row">
			<div class="col">

				{{ form_row(form.adresse, {label: 'Adresse', 'attr':{'placeholder': 'Adresse '}}) 
				 }}
			</div>
		</div>

		<div class="row">
			<div class="col">

				{{ form_row(form.cp, {label: 'Code postale', 'attr':{'placeholder': 'Code postale '}}) 
				 }}
			</div>
			<div class="col">

				{{ form_row(form.ville, {label: 'Ville', 'attr':{'placeholder': 'Ville '}}) 
				 }}
			</div>
			<div class="row">
				<div class="col">
					{{ form_row(form.email, {label: 'E-mail', 'attr':{'placeholder': 'Adresse mail '}}) 
				 }}
				</div>

				<div class="col">
					{{ form_row(form.tel, {label: 'Téléphone', 'attr':{'placeholder': 'Téléphone '}}) 
				 }}
				
				</div>
			</div>

			<div class="row">
				<div class="col">

					{{ form_row(form.plainPassword.first, {label: 'Mot de passe', 'attr':{'placeholder': '6 caractères au minimum'}}) 
				 }}
				</div>
				<div class="col">

					{{ form_row(form.plainPassword.second, {label: 'Confirmatiom mot de passe', 'attr':{'placeholder': 'Répéter le mot de passe'}})
				 }}
				</div>
			</div>

			<div class="row">
				<div class="col">

					{{ form_row(form.categorie, {label: 'Catégorie'}) 
				 }}
				
				</div>
				<div class="col">

					{{ form_row(form.niveau, {label: 'Niveau'}) 
				 }}

				</div>
				<div class="col">

					{{ form_row(form.loisir, {label: 'Loisir', 'attr':{'placeholder': 'Choisir un loisir '}}) 
				 }}
				
			</div>


		</div>

		<div class="row">
			<div class="col">

				{{ form_row(form.quartiers, {label: 'Quartier', 'attr':{'placeholder': 'Quartier '}}) 
				 }}
			</div>
			<div class="col">

				{{ form_row(form.partenaires, {label: 'Partenaire', 'attr':{'placeholder': 'Partenaire '}}) 
				 }}
			</div>
		</div>


	<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			<a href="{{ path('app_usager_index') }}" class="btn btn-secondary">Retour</a>
			<button type="submit" class="btn btn-primary btn-block">S'inscrire</button>

		</div>

		{{ form_end(form) }}
	</div>
{% endblock %}
